<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hoopladigital.mapper.PersonMapper">

	<select id="getPersonList" resultType="Person">
		select
			id,
			firstName,
			middleName,
			lastName
		from Person
		order by id
	</select>

	<select id="getPerson" resultType="Person">
		select
			id,
			firstName,
			middleName,
			lastName
		from Person
		where id = #{id}
	</select>

	<insert id="insertPerson" useGeneratedKeys="true" keyProperty="id">
		insert into Person (
			firstName,
			middleName,
			lastName
		)
		values(
			#{firstName,jdbcType=VARCHAR},
			#{middleName,jdbcType=VARCHAR},
			#{lastName,jdbcType=VARCHAR}
		)
	</insert>

	<update id="updatePerson">
		update Person set
			firstName = #{firstName,jdbcType=VARCHAR},
			middleName = #{middleName,jdbcType=VARCHAR},
			lastName = #{lastName,jdbcType=VARCHAR}
		where id = #{id}
	</update>

	<delete id="deletePerson">
		delete
		from Person
		where id = #{id}
	</delete>

</mapper>
